.react-select__control {
  border-radius: initial !important;
  border-width: 0 0 0.5px 0 !important;
  border-color: #868686 !important;
}

.react-select__menu {
  margin-top: 0 !important;
  border-radius: initial !important;
  font-family: var(--font-manrope);
  background-color: transparent !important;
  box-shadow: unset !important;
  outline: 1px solid #fed18c;
}

.react-select__option {
  padding: 16px 20px !important;
}

.react-select__menu-list {
  padding: 16px 0 !important;
}

.react-select__menu-list div {
  border-bottom: 0.3px solid #c6c6c6 !important;
}

.react-select__control,
.react-select__menu {
  max-width: 85.73%;
}

.react-select__input-container,
.react-select-new-page__input-container {
  padding: 0 !important;
  margin: 0 !important;
}

.react-select__input {
  height: auto !important;
}

.react-select__placeholder {
  font-size: 20px !important;
  color: #987d54 !important;
  font-weight: 300;
}

.react-select__value-container,
.react-select-new-page__value-container {
  gap: 8px;
  padding: 0 !important;
}

.react-select__value-container--is-multi {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.react-select__option,
.react-select-new-page__option,
.react-select__single-value,
.react-select-new-page__single-value {
  font-size: 12px !important;
  color: #fff !important;
  font-weight: 300;
}

.react-select__option--is-focused,
.react-select-new-page__option--is-focused,
.react-select__option:hover .react-select-new-page__option:hover {
  background-color: #121212 !important;
}

.react-select__option--is-selected,
.react-select-new-page__option--is-selected {
  background-color: #333442 !important;
  color: #fff !important;
}

.react-select__option--is-selected:hover,
.react-select-new-page__option--is-selected:hover {
  background-color: #333442 !important;
  color: #fff !important;
}

.react-select__multi-value {
  margin: 0 !important;
}

.react-select__clear-indicator,
.react-select-new-page__clear-indicator {
  display: none !important;
}

.react-select__control:hover,
.react-select-new-page__control:hover {
  outline-color: #ceced2 !important;
}

.react-select__control--is-focused,
.react-select-new-page__control--is-focused {
  outline-color: #3f7cdb !important;
  outline-width: 1px !important;
}

.react-select__indicator-separator,
.react-select-new-page__indicator-separator {
  display: none !important;
}

.react-select__indicator,
.react-select-new-page__indicator {
  padding: 18px !important;
  padding-right: 0 !important;
}

.react-react-select__menu > p {
  text-align: left !important;
}

/* multiselect */
.react-select__multi__control,
.react-select__multi__menu {
  font-family: var(--font-manrope);
}

.react-select__multi__control {
  border-width: 0 0 0.5px 0 !important;
  border-color: #868686 !important;
  border-radius: initial !important;
}

.react-select__multi__control--is-focused {
  border-color: #fed18c !important;
  border-width: 0 0 0.5px 0 !important;
  border-radius: initial !important;
}

.react-select__multi__value-container {
  padding: 0 0 18px 0 !important;
  margin-top: 0 !important;
  font-family: var(--font-manrope);
  background-color: transparent !important;
  box-shadow: unset !important;
}

.react-select__multi__input-container {
  padding: 0 !important;
  margin: 0 !important;
}

.react-select__multi__input {
  height: 28px;
  font-weight: 500 !important;
}

.react-select__multi__input:focus {
  outline: none !important;
  outline-offset: unset !important;
  box-shadow: unset !important;
  color: #987d54 !important;
}

.react-select__multi__placeholder {
  font-size: 20px !important;
  color: #987d54 !important;
  font-weight: 300;
  margin: 0 !important;
  line-height: 28px;
}

.react-select__multi__placeholder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 28px;
}

.react-select__multi__multi-value {
  margin: 0 !important;
  border-radius: 4px !important;
  height: 28px;
  display: flex;
  align-items: center;
  line-height: 20.3px;
  background-color: #fff6e8 !important;
}

.react-select__multi__multi-value__label {
  font-size: 14px !important;
  color: #000 !important;
  padding: 4px 10px 4px 13px !important;
  display: flex;
  align-items: center;
}

.react-select__multi__multi-value__remove {
  padding: 0 !important;
  margin-right: 13px !important;
}

.react-select__multi__multi-value__remove:hover {
  background: transparent !important;
  color: #000 !important;
}

.react-select__multi__value-container > div:not(:last-child) {
  margin-right: 10px !important;
}
